:root {
  --primary-bgc-color: #ffffff;
  --secondary-bgc-color: #f7f7f7;
  --primary-title-color: #ffffff;
  --secondary-title-color: #303030;
  --primary-text-color: #555555;
  --secondary-text-color: #9da4bd;
  --thirdary-text-color: #303030;
  --accent-color: #ff6c00;
  --main-btn-colour: #ffffff;
  --second-btn-colour: #303030;
}

body {
  background-color: var(--primary-bgc-color);
  color: var(--primary-text-color);
  font-family: 'Open Sans', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

/** ------HEADER------ */

.header {
  background-color: #c59f83;
}
.logo {
}
.nav {
}
.nav-list {
}
.nav-list-item {
}
.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.nav-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.tel-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.haeder-btn {
}
